name: ci

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:

jobs:
  gradle-native:
    name: Gradle native
    uses: ./.github/workflows/gradle.yml
    secrets: inherit
    with:
      native: true

  gradle-lib:
    name: Gradle library
    uses: ./.github/workflows/gradle.yml
    secrets: inherit
    with:
      library: true

  node-js:
    name: Node.js
    uses: ./.github/workflows/node.js.yml
    secrets: inherit